.footer {
    background: #2C2C2C;
}

.social {

    &__linck {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #6425FE;
        border: 1px solid #6425FE;
        transition: all 0.3s ease-in;
        text-align: center;
        font-size: 46px;
    }

    &__linck:hover,
    &__linck:active,
    &__linck:focus {
        background: transparent;
        border: 1px solid #FFFFFF
    }
}