.partners {
    width: 100%;
    height: 100%;
    // overflow-y: scroll;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url('/images/partners/partners_bg.webp'), linear-gradient(106.46deg, #CEBADF -1.98%, #F0D2E9 95.13%);
    background-size: contain, 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

.partners-bg  {
    position: relative;
}

.partners-header {
    max-width: 562px;
}

.lists {
    display: flex;
    padding-left: 28px;
    margin-bottom: 64px;
}

.list-exchanges {
    list-style: disc;

    font-family: 'Everett';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 112.5%;
    color: #2C2C2C;
    margin-right: 80px;
}

@media (max-width: 1140px) {
    .partners-header {
        max-width: 462px;
    }
}

@media (max-width: 768px) {
    .partners-header {
        max-width: 362px;
    }

    .list-exchanges {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    .partners {
        padding-top: 100px;
        padding-bottom: 80px;
    }
}

@media (max-width: 360px) {
    .partners-header {
        max-width: 262px;
    }

    .list-exchanges {
        font-size: 18px;
    }
}

.top,
.centr,
.bottom {
    position: absolute;
    width: 167px;
    height: 77px;
    background-size: contain;
    animation: fluctuations 4s infinite;
}

.top {
    background: url('/images/partners/top.png') center center no-repeat;
    top: 0%;
    right: -3%;
}

.centr {
    background: url('/images/partners/centr.png') center center no-repeat;
    top: 21%;
    right: 16%;
}

.bottom {
    background: url('/images/partners/bottom.png') center center no-repeat;
    top: 30%;
    right: -9%;
}

@media (max-width: 1680px) {
    .partners {
        background-size: 58%, 100%;
        background-position: 91% 71%;
    }

    .centr {
        top: 28%;
        right: 22%;
    }

    .bottom {
        top: 36%;
        right: 2%;
    }

    .top {
        top: 7%;
        right: 7%;
    }
}

@media (max-width: 1600px) {
    .top {
        top: 0%;
        right: 7%;
    }

    .centr {
        top: 17%;
        right: 22%;
    }

    .bottom {
        top: 24%;
        right: 4%;    
    }
}


@media (max-width: 1536px) {
    .partners {
        background-size: 49%, 100%;
        background-position: 91% 174%;
    }

    .partners-bg {
        transform: scale(80%);
    }

    .partners {
        padding-top: 140px;
        overflow-y: unset;
    }
}

@media (max-width: 1440px) {
    .centr {
        top: 20%;
        right: 25%;
    }

    .bottom {
        top: 25%;
        right: 9%;
    }

    .top {
        top: 0%;
        right: 12%;
    }

    .partners {
        background-size: 58%, 100%;
        background-position: 91% 71%;
    }
}

@media (max-width: 1367px) {
    .top {
        top: -11%;
        right: 7%;
    }

    .centr {
        top: 7%;
        right: 23%;
    }

    .bottom {
        top: 14%;
        right: 2%;
    }
}

@media (max-width: 1280px) {
    .top {
        top: -7%;
        right: 12%;
    }

    .centr {
        top: 11%;
        right: 26%;
    }

    .bottom {
        top: 14%;
        right: 6%;
    }

    // .partners {
    //     overflow-y: hidden;
    // }
}

@media (max-width: 1153px) {
    .top {
        top: 17%;
        right: 12%;
    }

    .centr {
        top: 33%;
        right: 26%;
    }

    .bottom {
        top: 37%;
        right: 9%;
    }
}

@media (max-width: 1024px) {
    .bottom {
        top: 37%;
        right: 6%;
    }

    .partners {
        background-size: 62%, 100%;
        background-position: 97% 94%;
    }

}

@media (max-width: 912px) {

    .partners {
        background-size: 62%, 100%;
    }

    .top {
        top: 15%;
        right: 9%;
    }

    .centr {
        top: 40%;
        right: 23%;
    }

    .bottom {
        top: 45%;
        right: -2%;
    }
}

@media (max-width: 800px) {

    .top {
        top: 13%;
        right: 12%;
    }

    .centr {
        top: 30%;
        right: 26%;
    }

    .bottom {
        top: 33%;
        right: 3%;
    }

    .partners {
        overflow-y: scroll;
    }
}

@media (max-width: 771px) {

    .partners {
        background-size: 62%, 100%;
    }

    .top {
        top: 23%;
        right: 6%;
    }

    .centr {
        top: 37%;
        right: 20%;
    }

    .bottom {
        top: 53%;
        right: -8%;
    }
}

@media (max-width: 660px) {
    .top,
    .centr,
    .bottom {
        display: none;
    }  
}

@media (max-width: 640px) {
    .partners {
        padding-top: 120px;
        padding-bottom: 80px;
        background: linear-gradient(106.46deg, #CEBADF -1.98%, #F0D2E9 95.13%);
    }

    .partners-bg {
        transform: scale(100%);
    }
}

@media (max-height: 660px) { 
    .partners {
        overflow-y: scroll;
    }
 }

@keyframes fluctuations {
    0% {
       transform: translateY(0) rotateY(0deg);
 
    }
 
    50% {
       transform: translateY(10px) rotateY(15deg);
    }
 
    100% {
       transform: translateY(0) rotateY(0deg);
    }
 }