.provide {
    width: 100%;
    height: 100%;
    // overflow-y: scroll;
    padding-top: 100px;
    background: linear-gradient(176.05deg, #EDC5B5 5.15%, #F5D2C0 48.52%, #FAD5C1 91.35%);
    padding-bottom: 100px;
}

.provide-bg {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url('/images/provide/bg2.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.service {
    width: calc(100% / 12 * 4 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 3px solid #2C2C2C;
    border-radius: 23px;
    padding: 54px 46px;

    &__name {
        font-family: 'Everett';
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 115.5%;
        color: #2C2C2C;
        margin-bottom: 19px;
    }

    &__desc {
        font-family: 'Everett';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115.5%;
        color: #2C2C2C;
    }

    &__list {   
        list-style-type: disc;
    }

    &__list li {
        margin-bottom: 8px;
    }

}


.services {
    position: relative;
    z-index: 1;
}

.screan-shot-wrap {
    position: relative;
    z-index: 2;
}

.screan-shot {
    position: relative;
    z-index: 3; 
    display: inline-block;
    width: 151px;
    height: 114px;
    background: #FFFFFF;
    border: 3px solid #6425FE;
    border-radius: 8px;
    transform: rotate(13.97deg);
    margin-left: 35%;
    margin-top: -80px;
    cursor: pointer;

    &__viewport {
        overflow: hidden;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
        display: inline-block;
    }
} 

.screan-shot::after {
    content: '';
    position: absolute;
    display: block;
    width: 46px;
    height: 53px;
    bottom: -42px;
    left: -52px;
    z-index: 4; 
    background-image: url('/images/provide/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: zoom 2s infinite;
}

.show-screanshot {
    transform: rotate(0);
    width: 300px;
    height: 400px;
    margin-top: -50%;
}

.show-screanshot.screan-shot::after {
    bottom: -12px;
}

@media (max-width: 1536px) {
    .provide {
        padding-top: 70px;
    }

    .service {
        width: calc(100% / 12 * 4 - 30px); 
        transform: scale(90%);

        &__name {
            font-size: 28px;
            line-height: 87%;
            margin-bottom: 19px;
        }
    
        &__desc {
            font-size: 18px;
            line-height: 115%;
            color: #2C2C2C;
        }
    }

    .screan-shot {
        width: 131px;
        height: 94px;
    }

    .show-screanshot {
        width: 240px;
        height: 340px;
    }

    .provide {
        overflow-y: unset;
    }
}

@media (max-width: 1114px) {

    .service {
        padding: 34px 26px;

        &__name {
            font-size: 24px;
        }
    
        &__desc {
            font-size: 16px;
        }
    }
}

@media (max-width: 800px) {
    .service {
        width: calc(100% / 2 - 30px); 
    }

    .provide {
        overflow-y: scroll;
    }
}

@media (max-width: 670px) {
    .service {
        width: calc(100% - 30px); 

        &__name {
            font-size: 28px;
        }

        &__desc {
            font-size: 18px;
        }
    }

}

@media (max-width: 576px) {
    .provide {
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media (max-width: 570px) {
    .show-screanshot {
        margin-top: -90%;
        margin-left: 10%;
    }
}

@media (max-width: 417px) {
    .show-screanshot {
        margin-top: -140%;
        margin-left: 10%;
    }
}

@media (max-height: 652px) { 
    .provide {
        overflow-y: scroll;
    }
 }

@keyframes zoom {
    0% {
        transform: scale(80%);
    }


    50% {
        transform: scale(110%);
    }

    100% {
        transform: scale(80%);
    }
}